# Created by .ignore support plugin (hsz.mobi)

/other
/.idea
/ontology/catalog-v001.xml
/github_token.txt
.DS_Store
contexts/.DS_Store
contexts/aspects/
contexts/facets/
contexts/scidata_sample.jsonld
examples/.DS_Store
examples/Self contained/
examples/ph_min.jsonld
examples/remove?
ontology/.DS_Store
!/contexts/scidata_sample.jsonld
