# Created by .ignore support plugin (hsz.mobi)

**/catalog-v001.xml
**/.DS_Store
other
.idea/*
contexts/aspects/
contexts/facets/
contexts/scidata_sample.jsonld
examples/Self contained/
examples/ph_min.jsonld
examples/remove?
ontology/resource/
ontology/scidata.obda
ontology/scidata.properties
ontology/solubility.obda
ontology/solubility.properties
ontology/substance/substance.obda
ontology/substance/substance.properties
